"extends": ["airbnb", "airbnb/hooks", "prettier"]
"rules": {
        "react/jsx-filename-extension": [0],
        "import/extensions": "off"
}
"env": {
        "browser": true
}
"overrides": [ 
        {
               "files": ["src/index.js", "src/reportWebVitals.js", "src/setupTests.js"],
               "rules": {
                "no-undef": 0
               }
        }
]